:host {
  --icon-wrapper-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-wrapper-size);
  height: var(--icon-wrapper-size);
  line-height: 0;
  color: inherit;
}

:host([size='small']) {
  --icon-wrapper-size: 24px;
}

:host([size='medium']) {
  --icon-wrapper-size: 32px;
}

:host([size='large']) {
  --icon-wrapper-size: 40px;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 100%;
  height: 100%;
  stroke: currentColor;
  fill: none;
}
